<a href="https://colab.research.google.com/github/Lucas60229/ColabFile/blob/master/D08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [13]:
name_list = ['小明','小華','小菁','小美','小張','John','Mark','Tom']
sex_list = ['boy','boy','girl','girl','boy','boy','boy','boy']
weight_list = [67.5,75.3,50.1,45.5,80.8,90.4,78.4,70.7]
rank_list = [8,1,5,4,7,6,2,3]
myopia_list = [True,True,False,False,True,True,False,False]

In [19]:
dty = np.dtype({"names":('name', 'sex', 'weight', 'rank', 'myopia'), "formats": ((np.str_, 5),(np.str_, 5),np.float_,np.int_,np.bool_)})
struct_array = np.zeros(8,dtype=dty)
struct_array["name"] = name_list
struct_array["sex"] = sex_list
struct_array["weight"] = weight_list
struct_array["rank"] = rank_list
struct_array["myopia"] = myopia_list
struct_array

array([('小明', 'boy', 67.5, 8,  True), ('小華', 'boy', 75.3, 1,  True),
       ('小菁', 'girl', 50.1, 5, False), ('小美', 'girl', 45.5, 4, False),
       ('小張', 'boy', 80.8, 7,  True), ('John', 'boy', 90.4, 6,  True),
       ('Mark', 'boy', 78.4, 2, False), ('Tom', 'boy', 70.7, 3, False)],
      dtype=[('name', '<U5'), ('sex', '<U5'), ('weight', '<f8'), ('rank', '<i8'), ('myopia', '?')])

In [22]:
struct_array['weight'].mean()

69.8375

In [24]:
struct_array[struct_array["sex"] == 'boy']["weight"].mean(), struct_array[struct_array["sex"] == 'girl']["weight"].mean()

(77.18333333333332, 47.8)